/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
  border: solid black;
}

body {
  font-family: 'Quicksand';
  font: sans-serif;
  color: #ffffff;
  height: 60rem;
  background-image:
    linear-gradient(#134d71, #78a7c6, #f7e4bf);
}

h1 {

}

#radio-button-box {
  height: 20px;
  width: 20px;
}

#meditation-icon {
  height: 150px;
  width: 150px;
}
