* {
  font-family: 'Quicksand';
  font: sans-serif;
}

body {
  background-image:
    linear-gradient(#134d71, #78a7c6, #f7e4bf);
  color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 4%;
}

h3 {
  margin-bottom: .5%;
  margin-top: 8%;
}

#radio-button-box {
  height: 12%;
  width: 45%;
  background-color: #ffffff;
  border-radius: 10px;
}

#radio-button-box button {
  background-color: #134d71;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  width: 32%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-size: 14.5px;
}

#radio-button-box button:hover {
  background-color: #78a7c6;
}

.radio-buttons {
  display: flex;
  justify-content: center;
  margin-top: 3%
}

.radio-buttons label {
  color: #000000;
  font-style: italic;
}

label:hover {
  color: #78a7c6;
}

.affirmation-button {
  margin-right: 23%;
}

#response {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 17%;
  width: 67%;
  border-radius: 10px;
  margin: 10%
}

.hidden {
  display: none!important;
}

.meditation-icon {
  height: 57%;
  width: 12%;
}

.msg {
  color: black;
  height: 14%;
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.fade-in {
  animation: fadeIn ease 1.75s;
}

.fade-out {
  animation: fadeOut ease 1.76s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
